body{
   background-image: url('./assets/background.jpg') ;
   background-position: center top;
   background-size: 100% auto;
   display: flex;
   justify-content: center;  
}

.App {
   margin-top: 80px;
   background-color: #348ceb;
   width: 650px;
   border-radius: 5px;
}
.App div.insert{
   padding: 30px;
   display: flex;
   flex-direction: row;
}

.App div.list:last-child{
   padding-bottom: 30px;
}

.lineThrough{
   text-decoration: line-through;
}